<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单录入</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<style>
    #enterer {
        width: 100%;
        background: white;
    }
    .entryBtn {
        padding: 25px 0 25px 45px;
    }
    .entryBtn .el-button.is-round {
        padding: 5px 17px;
        background: #4993E5;
    }
    .entyrTable {
        width: 100%;
        margin-left: 20px;
    }
</style>
<body>
    <div id='enterer'>
        <div class="entryBtn">
            <el-button @click="entryType" type="primary" round>录入</el-button>
        </div>
        <div class="entyrTable">
            <div style="width: calc(100% - 40px); padding-bottom: 20px;">
                <el-table :data="enterData">
                    <el-table-column min-width="120px" prop="buyIdentify" label="买入方">
                        </el-table-column>
                    <el-table-column min-width="120px" prop="sellIdentify" label="卖出方">
                    </el-table-column>
                    <el-table-column prop=stockname label="股票名">
                    </el-table-column>
                    <el-table-column prop=price label="交易单价">
                    </el-table-column>
                    <el-table-column prop=count label="交易数量">
                    </el-table-column>
                    <el-table-column label="操作" header-align="center"
                                                align="center">
                        <template slot-scope="scope">
                            <el-button type="text" size="small" @click="getModify(scope.row.id)">修改</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination_box">
                    <el-pagination background layout="prev, pager, next, jumper"
                                    :page-size=pagesize :total=entry_num :current-page=currentPage
                                    @current-change="currentPageChange">
                    </el-pagination>
                </div>
            </div>
        </div>
        <el-dialog width="382px" :title="dialogTitle" :visible.sync="entryDialogVisible"
               :close-on-click-modal=false :before-close="handleClose">
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm">
                <el-form-item prop="buyIdentify">
                        <div class="icon_img">
                            <img v-if="buyer_error" src="../images/account_pre.png" alt="">
                            <img v-if="!buyer_error" src="../images/account_after.png" alt="">
                        </div>
                    <el-input v-model="ruleForm.buyIdentify"
                            auto-complete="off" placeholder="买入方"></el-input>
                </el-form-item>
                <el-form-item prop="sellIdentify">
                        <div class="icon_img">
                            <img v-if="seller_error" src="../images/stock_num_pre.png" alt="">
                            <img v-if="!seller_error" src="../images/stock_num_after.png" alt="">
                        </div>
                    <el-input v-model="ruleForm.sellIdentify"
                            auto-complete="off" placeholder="卖出方"></el-input>
                </el-form-item>
                <el-form-item prop="stockname">
                        <div class="icon_img">
                            <img v-if="name_error" src="../images/price_pre.png" alt="">
                            <img v-if="!name_error" src="../images/price_after.png" alt="">
                        </div>
                    <el-input v-model="ruleForm.stockname"
                            auto-complete="off" placeholder='股票名'></el-input>
                </el-form-item>
                <el-form-item prop="price">
                        <div class="icon_img">
                            <img v-if="price_error" src="../images/price_pre.png" alt="">
                            <img v-if="!price_error" src="../images/price_after.png" alt="">
                        </div>
                    <el-input v-model.number="ruleForm.price"
                            auto-complete="off" placeholder="交易单价"></el-input>
                </el-form-item>
                <el-form-item prop="count">
                    <div class="icon_img">
                        <img v-if="count_error" src="../images/price_pre.png" alt="">
                        <img v-if="!count_error" src="../images/price_after.png" alt="">
                    </div>
                    <el-input v-model.number="ruleForm.count"
                            auto-complete="off" placeholder="交易数量"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="resetForm('ruleForm')">取消</el-button>
                    <el-button type="primary" @click="submitForm('ruleForm')">确定</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
    <script>
        $(function () {
            var params = new Vue({
                el: '#enterer',
                data () {
                    var validateID1 = (rule, value, callback) => {
                        var IDreg = /^(([1][1-5])|([2][1-3])|([3][1-7])|([4][1-6])|([5][0-4])|([6][1-5])|([7][1])|([8][1-2]))\d{4}(([1][9]\d{2})|([2]\d{3}))(([0][1-9])|([1][0-2]))(([0][1-9])|([1-2][0-9])|([3][0-1]))\d{3}[0-9xX]$/;
                        if (!value) {
                            this.buyer_error = true;
                            return callback(new Error('买入方不能为空'));
                        } else {
                            if (!IDreg.test(value)) {
                                this.buyer_error = true;
                                callback(new Error('请输入正确格式的身份证号'));
                            } else {
                                if (this.ruleForm.sellIdentify !== '') {
                                    this.$refs.ruleForm.validateField('sellIdentify');
                                }
                                this.buyer_error = false;
                                callback();
                            }
                        }
                    };
                    var validateID2 = (rule, value, callback) => {
                        var IDreg = /^(([1][1-5])|([2][1-3])|([3][1-7])|([4][1-6])|([5][0-4])|([6][1-5])|([7][1])|([8][1-2]))\d{4}(([1][9]\d{2})|([2]\d{3}))(([0][1-9])|([1][0-2]))(([0][1-9])|([1-2][0-9])|([3][0-1]))\d{3}[0-9xX]$/;
                        if (!value) {
                            this.seller_error = true;
                            return callback(new Error('卖出方不能为空'));
                        } else {
                            if (!IDreg.test(value)) {
                                this.seller_error = true;
                                callback(new Error('请输入正确格式的身份证号'));
                            } else {
                                if (value === this.ruleForm.buyIdentify) {
                                    this.seller_error = true;
                                    callback(new Error('卖出方与买入方不能为同一个人!'));
                                }
                                this.seller_error = false;
                                callback();
                            }
                        }
                    };
                    var validateName = (rule, value, callback) => {
                        if (value === '') {
                            this.name_error = true;
                            callback(new Error('请输入股票名称'));
                        } else {
                            this.name_error = false;
                            callback();
                        }
                    };
                    var validatePrice = (rule, value, callback) => {
                        if (value === '') {
                            this.price_error = true;
                            callback(new Error('请输入交易单价'));
                        } else {
                            this.price_error = false;
                            callback();
                        }
                    };
                    var validateCount = (rule, value, callback) => {
                        if (value === '') {
                            this.count_error = true;
                            callback(new Error('请输入大于0的交易数量'));
                        } else if (!Number.isInteger(value)) {
                            this.count_error = true;
                            callback(new Error('请输入大于0的整数!'));
                        } else {
                            this.count_error = false;
                            callback();
                        }
                    };
                    return {
                        pagesize: 8,
                        entry_num: 0,
                        currentPage: 1,
                        dialogTitle: '录入',
                        entryDialogVisible: false,
                        name_error: true,
                        buyer_error: true,
                        seller_error: true,
                        price_error: true,
                        count_error: true,
                        formData: 'ruleForm',
                        enterData: [],
                        ruleForm: {
                            buyIdentify: '',
                            sellIdentify: '',
                            stockname: '',
                            price: '',
                            count: '',
                            id: ''
                        },
                        rules: {
                            buyIdentify: [
                             { validator: validateID1, trigger: 'blur' }
                            ],
                            sellIdentify: [
                             { validator: validateID2, trigger: 'blur' }
                            ],
                            stockname: [
                                { validator: validateName, trigger: 'blur' }
                            ],
                            price: [
                                { validator: validatePrice, trigger: 'blur' }
                            ],
                            count: [
                                { validator: validateCount, trigger: 'blur' }
                            ]
                        }
                    }
                },
                methods: {
                    entryType () {
                        this.ruleForm = {
                            buyIdentify: '',
                            sellIdentify: '',
                            stockname: '',
                            price: '',
                            count: '',
                            id: ''
                        };
                        this.dialogTitle = '录入';
                        this.entryDialogVisible = true;
                    },
                    getModify (id) {
                        var that = this;
                        $.ajax({
                            type: 'POST',
                            dataType: 'JSON',
                            async: false,
                            data: {
                                id: id
                            },
                            url: 'http://192.168.1.113:8080/zjdeel/order/selectOrderById.do',
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (errorThrown) {
                                    that.$message({
                                        showClose: true,
                                        message: errorThrown,
                                        type: 'warning'
                                    });
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: '数据获取失败，请稍后重试!',
                                        type: 'warning'
                                    });
                                }
                            },
                            success: function (data) {
                                if (data.res === 'success') {
                                    that.ruleForm = {
                                        id: data.data.id,
                                        buyIdentify: data.data.buyIdentify,
                                        sellIdentify: data.data.sellIdentify,
                                        stockname: data.data.stockname,
                                        price: data.data.dealprice,
                                        count: data.data.dealcount
                                    };
                                    that.dialogTitle = '修改';
                                    that.entryDialogVisible = true;
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: '数据获取失败，请稍后重试',
                                        type: 'warning'
                                    });
                                }
                            }
                        });
                    },
                    currentPageChange (num) {
                        this.currentPage = num;
                        this.getAllOrders();
                    },
                    submitForm (formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                if (this.dialogTitle === '录入') {
                                    this.insertOrders(formName);
                                } else {
                                    this.postModify(formName);
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    getAllOrders() {
                        var that = this;
                        $.ajax({
                            type: 'POST',
                            dataType: 'JSON',
                            async: false,
                            data: {
                                pageNo: that.currentPage,
                                pageSize: that.pagesize
                            },
                            url: 'http://192.168.1.113:8080/zjdeel/order/selectForInputer.do',
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (errorThrown) {
                                    that.$message({
                                        showClose: true,
                                        message: errorThrown,
                                        type: 'warning'
                                    });
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: '数据获取失败，请稍后重试!',
                                        type: 'warning'
                                    });
                                }
                            },
                            success: function (data) {
                                that.enterData = [];
                                if (data.total > 0) {
                                    that.entry_num = data.total;
                                    data.list.forEach((val, index, arr) => {
                                        var objData = {
                                            buyIdentify: val.buyIdentify,
                                            sellIdentify: val.sellIdentify,
                                            stockname: val.stockname,
                                            price: val.dealprice,
                                            count: val.dealcount,
                                            id: val.id
                                        };
                                        that.enterData.push(objData);
                                    });
                                } else {
                                    that.entry_num = data.total;
                                }
                            }
                        });
                    },
                    insertOrders(formName) {
                        var that = this;
                        $.ajax({
                            type: 'POST',
                            dataType: 'JSON',
                            async: false,
                            data: {
                                seller: that.ruleForm.sellIdentify,
                                buyer: that.ruleForm.buyIdentify,
                                stockName: that.ruleForm.stockname,
                                dealcount: that.ruleForm.count,
                                dealprice: that.ruleForm.price
                            },
                            url: 'http://192.168.1.113:8080/zjdeel/order/insertOrder.do',
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (errorThrown) {
                                    that.$message({
                                        showClose: true,
                                        message: errorThrown,
                                        type: 'warning'
                                    });
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: '数据获取失败，请稍后重试!',
                                        type: 'warning'
                                    });
                                }
                            },
                            success: function (data) {
                                if (data.res === 'success') {
                                    that.$message({
                                        showClose: true,
                                        message: data.msg,
                                        type: 'success'
                                    });
                                    that.resetForm(formName);
                                    that.getAllOrders();
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: data.msg,
                                        type: 'warning'
                                    });
                                }
                            }
                        });
                    },
                    postModify(formName) {
                        var that = this;
                        $.ajax({
                            type: 'POST',
                            dataType: 'JSON',
                            async: false,
                            data: {
                                id: that.ruleForm.id,
                                seller: that.ruleForm.sellIdentify,
                                buyer: that.ruleForm.buyIdentify,
                                dealcount: that.ruleForm.count,
                                dealprice: that.ruleForm.price
                            },
                            url: 'http://192.168.1.113:8080/zjdeel/order/updateOrder.do',
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (errorThrown) {
                                    that.$message({
                                        showClose: true,
                                        message: errorThrown,
                                        type: 'warning'
                                    });
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: '数据获取失败，请稍后重试!',
                                        type: 'warning'
                                    });
                                }
                            },
                            success: function (data) {
                                if (data.res === 'success') {
                                    that.$message({
                                        showClose: true,
                                        message: data.msg,
                                        type: 'success'
                                    });
                                    that.resetForm(formName);
                                    that.getAllOrders();
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: data.msg,
                                        type: 'warning'
                                    });
                                }
                            }
                        });
                    },
                    resetForm(formName) {
                        this.$refs[formName].resetFields();
                        this.name_error = true,
                        this.buyer_error = true,
                        this.seller_error = true,
                        this.price_error = true,
                        this.count_error = true,
                        this.entryDialogVisible = false;
                    },
                    handleClose(done) {
                        this.$refs[this.formData].resetFields();
                        this.name_error = true;
                        this.buyer_error = true;
                        this.seller_error = true;
                        this.price_error = true;
                        this.count_error = true;
                        done();
                    }
                },
                mounted() {
                    this.getAllOrders();
                }
            })
        })
    </script>
</body>
</html>