<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中经汇金-大盘市场</title>
    <link rel="stylesheet" href="../../lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/vue.js"></script>
    <script src="../../lib/element-ui/lib/index.js"></script>
    <script src="../../lib/echarts.min.js"></script>
    <style>
        #market {
            width: 100%;
            height: 100%;
        }
        .stock_wrapper {
            width: (100% - 20px);
            height: calc(55%);
            padding-left: 20px;
            background: white;
        }
        .stock_wrapper .el-tabs__header {
            margin: 0;
        }
        .el-tabs.el-tabs--top {
            width: 100%;
            height: 100%;
        }
        .el-tabs__item.is-top, .el-tabs__active-bar.is-top {
            width: 72px;
            text-align: center;
            padding: 0;
            outline: none;
        }
        .el-tabs__nav .el-tabs__active-bar {
            width: 72px!important;
        }
        .el-tabs__nav-wrap::after {
            background-color: #E4E3E3;
            height: 1px;
        }
        .el-tabs__active-bar {
            background-color: #4B92E0;
        }
        .el-tabs__item {
            height: 59px;
            line-height: 59px;
        }
        .stock_wrapper .el-tabs__content {
            width: 100%;
            height: calc(100% - 59px);
            margin-top: 10px;
        }
        .stock_detail {
            display: flex;
            align-items: center;
            height: 62px;
            top: -6px;
            left: 104px;
            z-index: 1;
            position: absolute;
        }
        .stock_detail p {
            font-family: DINAlternate-Bold;
            font-size: 26px;
            color: #222222;
        }
        .stock_detail p span {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #999999;
        }
        .el-tab-pane {
            width: 100%;
            height: 100%;
        }
        .stock_table {
            width: (100% - 20px);
            height: calc(45% - 20px);
            background: white;
            padding-left: 20px;
            margin-top: 20px;
        }
        .el-popover.el-popper.note.el-popover--plain {
            font-size: 12px!important;
            padding: 10px!important;
        }
    </style>
</head>
<body>
    <div id="market">
        <div class="stock_wrapper">
            <el-tabs v-model="activeName" @tab-click="handleClick1">
                <el-tab-pane label="中经汇金" name="中经汇金">
                    <div class="stock_detail">
                        <p style="margin-right: 64px;">{{ reference_price }}&nbsp;<span>参考单价(元)</span></p>
                        <p>{{ available_sale }}&nbsp;<span>在售股数(股)</span></p>
                    </div>
                    <div v-if="activeName==='中经汇金'" style="width: calc(100% - 50px); height: calc(100% - 20px);" id="中经汇金"></div>
                </el-tab-pane>
                <el-tab-pane label="梦古堂" name="梦古堂">
                        <div class="stock_detail">
                            <p style="margin-right: 64px;">{{ reference_price }}&nbsp;<span>参考单价(元)</span></p>
                            <p>{{ available_sale }}&nbsp;<span>在售股数(股)</span></p>
                        </div>
                        <div v-if="activeName==='梦古堂'" style="width: calc(100% - 50px); height: calc(100% - 20px);" id="梦古堂"></div>
                </el-tab-pane>
                <el-tab-pane label="阿里巴巴" name="阿里巴巴">
                        <div class="stock_detail">
                            <p style="margin-right: 64px;">{{ reference_price }}&nbsp;<span>参考单价(元)</span></p>
                            <p>{{ available_sale }}&nbsp;<span>在售股数(股)</span></p>
                        </div>
                        <div v-if="activeName==='阿里巴巴'" style="width: calc(100% - 50px); height: calc(100% - 20px);" id="阿里巴巴"></div>
                    </el-tab-pane>
            </el-tabs>
        </div>
        <div class="stock_table">
            <div class="table_content">
                <div class="block">
                    <el-date-picker v-model="value" type="daterange"
                                    align="right"
                                    unlink-panels
                                    range-separator="-"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期"
                                    :picker-options="pickerOptions"
                                    :default-value="new Date(`${nowYear}-${nowMonth}-1`)"
                                    @change="dateChangeHandle"
                                    value-format="yyyy-MM-dd">
                    </el-date-picker>
                </div>
                <el-tabs v-model="activeName2" @tab-click="handleClick2">
                    <el-tab-pane label="发布中" name="published">
                        <div style="width: calc(100% - 20px);">
                            <el-table :data="published">
                                <el-table-column prop="name" label="交易股票">
                                </el-table-column>
                                <el-table-column prop="announcer" label="发布者">
                                </el-table-column>
                                <el-table-column prop=total_num min-width="100px" label="发布数量(股)">
                                </el-table-column>
                                <el-table-column prop=tradable_num min-width="110px" label="可交易数量(股)">
                                </el-table-column>
                                <el-table-column prop=price label="发布单价(元)">
                                </el-table-column>
                                <el-table-column prop="publish_date" min-width="150px" label="发布时间" header-align="center"
                                                 align="center">
                                </el-table-column>
                                <el-table-column prop="note" min-width="150px" label="备注信息">
                                        <template slot-scope="scope">
                                            <!-- {{ scope.row.note.length > 8 ? `${scope.row.note.slice(0, 5)}…` : scope.row.note }} -->
                                            <el-popover v-if="scope.row.note.length > 8" width="120" placement="top" popper-class='note'
                                                    trigger="click" :content=scope.row.note>
                                                <span slot="reference">
                                                        {{scope.row.note.slice(0, 5)}}…</span>
                                            </el-popover>
                                            <span v-if="scope.row.note.length < 8">{{ scope.row.note }}</span>
                                        </template>
                                </el-table-column>
                                <el-table-column label="操作" header-align="center"
                                                 align="center">
                                    <template slot-scope="scope">
                                        <el-popover
                                                width="60"
                                                placement="top"
                                                trigger="click"
                                                :content=scope.row.tel.slice(0,3)+'-'+scope.row.tel.slice(3,7)+'-'+scope.row.tel.slice(7)>
                                            <el-button type="text" size="small"
                                                       slot="reference">咨询</el-button>
                                        </el-popover>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <div class="pagination_box">
                                <el-pagination background layout="prev, pager, next, jumper"
                                               :page-size=pagesize :total=publish_total
                                               @current-change="handleCurrentChange1">
                                </el-pagination>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="交易记录" name="transaction">
                        <div style="width: calc(100% - 20px);">
                            <el-table :data="transaction">
                                <el-table-column prop="name" label="交易股票">
                                </el-table-column>
                                <el-table-column prop="announcer" label="发布者">
                                </el-table-column>
                                <el-table-column prop="buyers" label="购买者">
                                </el-table-column>
                                <el-table-column prop=trading_num label="交易数量(股)">
                                </el-table-column>
                                <el-table-column prop=price label="交易单价(元)">
                                </el-table-column>
                                <el-table-column prop="publish_date" header-align="center"
                                                 align="center" min-width="150px" label="交易时间">
                                </el-table-column>
                            </el-table>
                            <div class="pagination_box">
                                <el-pagination background layout="prev, pager, next, jumper"
                                               :page-size=pagesize :total=transaction_total
                                               @current-change="handleCurrentChange2">
                                </el-pagination>
                            </div>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var market = new Vue({
                el: '#market',
                data: {
                    activeName: '',
                    firstActiveName: '中经汇金',
                    chart: null,
                    nowYear: new Date().getFullYear(),
                    nowMonth: new Date().getMonth(),
                    activeName2: 'published',
                    pagesize: 8,
                    publish_total: 12,
                    transaction_total: 12,
                    value: '',
                    reference_price: 67.24,
                    available_sale: 123456,
                    pickerOptions: {
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                picker.$emit('pick', [start, end]);
                            }
                        },{
                            text: '最近一周',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', [start, end]);
                            }
                        }, {
                            text: '最近一个月',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                                picker.$emit('pick', [start, end]);
                            }
                        }, {
                            text: '最近三个月',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                                picker.$emit('pick', [start, end]);
                            }
                        }],
                        disabledDate (time) {
                            return time.getTime() > Date.now() - 8.64e6;
                        }
                    },
                    published: [{
                        name: '梦古堂',
                        announcer: '方阳春 女士',
                        total_num: 1000,
                        tradable_num: 1000,
                        price: 10.77,
                        publish_date: '2017-02-12 16:27:56',
                        note: '线下交易只接受杭州同城交易',
                        tel: '15116925248'
                    }, {
                        name: '梦古堂',
                        announcer: '方阳春 女士',
                        total_num: 1000,
                        tradable_num: 1000,
                        price: 10.77,
                        publish_date: '2017-02-12 16:27:56',
                        note: '-----',
                        tel: '15116925248'
                    }, {
                        name: '梦古堂',
                        announcer: '方阳春 女士',
                        total_num: 1000,
                        tradable_num: 1000,
                        price: 10.77,
                        publish_date: '2017-02-12 16:27:56',
                        note: '只接受杭州交易',
                        tel: '15116925248'
                    }, {
                        name: '梦古堂',
                        announcer: '方阳春 女士',
                        total_num: 1000,
                        tradable_num: 1000,
                        price: 10.77,
                        publish_date: '2017-02-12 16:27:56',
                        note: '-----',
                        tel: '15116925248'
                    }],
                    transaction: [{
                        name: '中经汇金',
                        announcer: '方阳春 女士',
                        buyers: '周雅琼 女士',
                        trading_num: 1000,
                        price: 10.77,
                        publish_date: '2017-02-12 16:27:56'
                    }]
                },
                methods: {
                    splitData (rawData) {
                        var categoryData = [];
                        var values = [];
                        for (var i = 0; i < rawData.length; i++) {
                            categoryData.push(rawData[i].splice(0, 1)[0]);
                            values.push(rawData[i])
                        }
                        return {
                            categoryData: categoryData,
                            values: values
                        };
                    },
                    calculateMA(data) {
                        var result = [];
                        for (var i = 0, len = data.values.length; i < len; i++) {
                            result.push(data.values[i][0]);
                        }
                        return result;
                    },
                    drawStock (id) {
                        if (this.chart) {
                            this.chart = null;
                        }
                        this.chart = echarts.init(document.getElementById(id));
                        var data0 = this.splitData([
                            ['2013-1-24', 10.09],
                            ['2013-1-25', 9.99],
                            ['2013-1-28', 10.01],
                            ['20131-29', 10.01],
                            ['2013-1-30', 10.003],
                            ['2013-1-31', 10.03],
                            ['2013-2-1', 10.11],
                            ['2013-2-4', 9.89],
                            ['2013-2-5', 10.00],
                            ['2013-2-6', 10.02],
                            ['2013-2-7', 10.33],
                            ['2013-2-8', 10.08]
                        ]);
                        var option = null;
                        option = {
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross'
                                }
                            },
                            grid: {
                                left: '40px',
                                right: '30px',
                                bottom: '20%'
                            },
                            xAxis: {
                                type: 'category',
                                data: data0.categoryData,
                                scale: true,
                                boundaryGap : false,
                                axisLine: {
                                    onZero: false,
                                    lineStyle: {
                                        color: '#999999'
                                    }
                                },
                                axisTick: {
                                    show: false
                                },
                                splitLine: {show: false},
                            },
                            yAxis: {
                                scale: true,
                                splitArea: {
                                    show: true,
                                    areaStyle: {
                                        color: ['#fefefe', '#F9F9F9']
                                    }
                                },
                                axisLine: {
                                    onZero: false,
                                    lineStyle: {
                                        color: '#999999'
                                    }
                                },
                                axisTick: {
                                    show: false
                                },
                                splitLine: {
                                    show: false
                                }
                            },
                            dataZoom: [
                                {
                                    type: 'inside',
                                    start: 50,
                                    end: 100
                                },
                                {
                                    show: true,
                                    type: 'slider',
                                    y: '90%',
                                    start: 50,
                                    end: 100
                                }
                            ],
                            series: [
                                {
                                    name: '中经汇金',
                                    type: 'line',
                                    data: this.calculateMA(data0),
                                    smooth: true,
                                    lineStyle: {
                                        normal: {opacity: 0.5}
                                    }
                                }
                            ]
                        };
                        this.chart.setOption(option, true);
                    },
                    handleClick1 (tab, event) {
                        // console.log(tab.name);
                        if (this.activeName === this.firstActiveName) {
                            $('.stock_wrapper .el-tabs__nav .el-tabs__active-bar').css('left', '0px');
                        } else {
                            $('.stock_wrapper .el-tabs__nav .el-tabs__active-bar').css('left', '-20px');
                        }
                        var that = this;
                        setTimeout(function () {
                            that.drawStock(that.activeName);
                        }, 0);
                    },
                    handleClick2 (tab, event) {
                        // console.log(tab.name);
                        if (this.activeName2 === 'transaction') {
                            $('.stock_table .el-tabs__nav .el-tabs__active-bar').css('left', '-20px');
                        } else {
                            $('.stock_table .el-tabs__nav .el-tabs__active-bar').css('left', '0px');
                        }
                    },
                    dateChangeHandle (val) {
                        if (val) {
                          console.log(val);
                        } else {
                            console.log('读取无日期筛选的数据');
                        }
                    },
                    handleCurrentChange1 (val) {
                        console.log(val);
                    },
                    handleCurrentChange2 (val) {
                        console.log(val);
                    }
                },
                mounted () {
                    var that = this;
                    this.$nextTick(function () {
                        setTimeout(function () {
                            that.activeName = '中经汇金';
                        }, 300);
                        setTimeout(function () {
                            that.drawStock('中经汇金');
                        }, 305);
                    })  
                }
            });
        })
    </script>
</body>
</html>