<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中经汇金-我的</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/mine.css">
</head>
<body>
<div id="mine">
    <div class="info">
        <div class="info_detail">
            <div class="company">
                <p class="tip">梦古堂</p>
                <p class="tip_detail">股票名称</p>
            </div>
            <div class="num">
                <p class="tip">100202</p>
                <p class="tip_detail">股数</p>
            </div>
            <div class="prices">
                <p class="tip">11.67</p>
                <p class="tip_detail">参考单价(元)</p>
            </div>
            <div class="handle">
                <button class="buy">买入</button>
                <button class="sell" @click="publishSell('梦古堂')">卖出</button>
            </div>
        </div>
        <div class="info_detail">
            <div class="company">
                <p class="tip">中经汇金</p>
                <p class="tip_detail">股票名称</p>
            </div>
            <div class="num">
                <p class="tip">698336</p>
                <p class="tip_detail">股数</p>
            </div>
            <div class="prices">
                <p class="tip">30.67</p>
                <p class="tip_detail">参考单价(元)</p>
            </div>
            <div class="handle">
                <button class="buy">买入</button>
                <button class="sell" @click="publishSell('中经汇金')">卖出</button>
            </div>
        </div>
    </div>
    <div class="table_wrapper">
        <div class="table_content">
            <div class="block">
                <el-date-picker v-model="value" type="daterange"
                                align="right"
                                unlink-panels
                                range-separator="-"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                :picker-options="pickerOptions"
                                :default-value="new Date(`${nowYear}-${nowMonth}-1`)"
                                @change="dateChangeHandle"
                                value-format="yyyy-MM-dd">
                </el-date-picker>
            </div>
            <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="我发布的" name="published">
                    <div style="width: calc(100% - 20px);">
                        <el-table :data="published">
                            <el-table-column prop="name" label="交易股票">
                            </el-table-column>
                            <el-table-column prop=total_num min-width="100px" label="发布数量(股)">
                            </el-table-column>
                            <el-table-column prop=locking_num min-width="100px" label="锁定数量(股)">
                            </el-table-column>
                            <el-table-column prop=tradable_num min-width="110px" label="可交易数量(股)">
                            </el-table-column>
                            <el-table-column prop=price label="发布单价(元)">
                            </el-table-column>
                            <el-table-column prop="publish_date" min-width="150px" label="发布时间" header-align="center"
                                                align="center">
                            </el-table-column>
                            <el-table-column prop="note" min-width="150px" label="备注信息">
                                    <template slot-scope="scope">
                                        <el-popover v-if="scope.row.note.length > 8" width="120" placement="top" popper-class='note'
                                                trigger="click" :content=scope.row.note>
                                            <span slot="reference">
                                                    {{scope.row.note.slice(0, 5)}}…</span>
                                        </el-popover>
                                        <span v-if="scope.row.note.length < 8">{{ scope.row.note }}</span>
                                    </template>
                            </el-table-column>
                            <el-table-column label="操作" header-align="center"
                                                align="center">
                                <template slot-scope="scope">
                                    <el-button type="text" size="small" 
                                        @click="modifyPublish(scope.row)">修改</el-button>
                                    <span style="font-size: 14px; color: #2678D2;">|</span>
                                    <el-button type="text" size="small" @click="confirmBox('undo')">撤销</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div class="pagination_box">
                            <el-pagination background layout="prev, pager, next, jumper"
                                            :page-size=pagesize :total=publish_total
                                            @current-change="handleCurrentChange1">
                            </el-pagination>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="历史交易" name="transaction">
                    <div style="width: calc(100% - 20px);">
                        <el-table :data="transaction">
                            <el-table-column prop="name" label="交易股票">
                            </el-table-column>
                            <el-table-column prop="buyers" label="购买者">
                            </el-table-column>
                            <el-table-column prop=price label="交易单价(元)">
                            </el-table-column>
                            <el-table-column prop=trading_num label="交易数量(股)">
                            </el-table-column>
                            <el-table-column prop="finished_date" header-align="center"
                                                align="center" min-width="150px" label="交易完成时间">
                            </el-table-column>
                            <el-table-column prop="note" min-width="150px" label="备注信息">
                                    <template slot-scope="scope">
                                        <el-popover v-if="scope.row.note.length > 8" width="120" placement="top" popper-class='note'
                                                trigger="click" :content=scope.row.note>
                                            <span slot="reference">
                                                    {{scope.row.note.slice(0, 5)}}…</span>
                                        </el-popover>
                                        <span v-if="scope.row.note.length < 8">{{ scope.row.note }}</span>
                                    </template>
                            </el-table-column>
                            <el-table-column label="操作" header-align="center"
                                                align="center">
                                <template slot-scope="scope">
                                    <el-button type="text" size="small" @click="confirmBox('delete')">删除记录</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div class="pagination_box">
                            <el-pagination background layout="prev, pager, next, jumper"
                                            :page-size=pagesize :total=transaction_total
                                            @current-change="handleCurrentChange2">
                            </el-pagination>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="我的订单" name="orders">
                        <div style="width: calc(100% - 20px);">
                            <el-table :data="orders">
                                <el-table-column min-width="120px" prop="ordersNum" label="订单号">
                                </el-table-column>
                                <el-table-column prop="type" header-align="center"
                                align="center" label="订单类型">
                                </el-table-column>
                                <el-table-column prop=price label="交易单价(元)">
                                </el-table-column>
                                <el-table-column prop=trading_num label="交易数量(股)">
                                </el-table-column>
                                <el-table-column prop="trading_time" label="下单时间" header-align="center"
                                align="center" min-width="150px">
                                </el-table-column>
                                <el-table-column prop="note" label="备注信息">
                                        <template slot-scope="scope">
                                            <el-popover v-if="scope.row.note.length > 8" width="120" placement="top" popper-class='note'
                                                    trigger="click" :content=scope.row.note>
                                                <span slot="reference">
                                                        {{scope.row.note.slice(0, 5)}}…</span>
                                            </el-popover>
                                            <span v-if="scope.row.note.length < 8">{{ scope.row.note }}</span>
                                        </template>
                                </el-table-column>
                                <el-table-column prop="status" header-align="center"
                                align="center" label="订单状态">
                                </el-table-column>
                            </el-table>
                            <div class="pagination_box">
                                <el-pagination background layout="prev, pager, next, jumper"
                                                :page-size=pagesize :total=transaction_total
                                                @current-change="handleCurrentChange2">
                                </el-pagination>
                            </div>
                        </div>
                    </el-tab-pane>
            </el-tabs>
        </div>
    </div>
    <el-dialog width="382px" :title="dialogTitle" :visible.sync="dialogVisible"
               :close-on-click-modal=false>
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm">
            <el-form-item prop="name">
                    <div class="icon_img">
                        <img src="../images/account_after.png" alt="">
                    </div>
                <el-input v-model="ruleForm.name"
                          auto-complete="off" placeholder="股票名称" disabled></el-input>
            </el-form-item>
            <el-form-item class="total" prop="total_num">
                    <div class="icon_img">
                        <img v-if="total_num_error" src="../images/stock_num_pre.png" alt="">
                        <img v-if="!total_num_error" src="../images/stock_num_after.png" alt="">
                    </div>
                <el-input class="total-num" v-model.number="ruleForm.total_num"
                          auto-complete="off" placeholder="请输入总股数"></el-input>
                          <div class="paramsBtn">
                            <el-button round @click="computedNum(0.1)">10%</el-button>
                            <el-button round @click="computedNum(0.3)">30%</el-button>
                            <el-button round @click="computedNum(0.5)">50%</el-button>
                          </div>
            </el-form-item>
            <el-form-item prop="locking_num">
                    <div class="icon_img">
                        <img v-if="lock_num_error" src="../images/stock_num_pre.png" alt="">
                        <img v-if="!lock_num_error" src="../images/stock_num_after.png" alt="">
                    </div>
                <el-input v-model.number="ruleForm.locking_num"
                          auto-complete="off" placeholder="请设置锁定股数"></el-input>
            </el-form-item>
            <el-form-item prop="price">
                    <div class="icon_img">
                        <img v-if="price_error" src="../images/price_pre.png" alt="">
                        <img v-if="!price_error" src="../images/price_after.png" alt="">
                    </div>
                <el-input v-model.number="ruleForm.price"
                          auto-complete="off" :placeholder=`请输入单价(参考单价±${this.volatility*100}%内)`></el-input>
            </el-form-item>
            <el-form-item prop="note">
                    <div class="icon_img">
                        <img v-if="note_error" src="../images/note_pre.png" alt="">
                        <img v-if="!note_error" src="../images/nore_after.png" alt="">
                    </div>
                <el-input v-model="ruleForm.note"
                          auto-complete="off" placeholder="请输入备注信息(少于20个字符)"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="submitForm('ruleForm')">确定</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog class="confirm_dialog" width="250px" title="提示" :visible.sync="dialogTips"
               :close-on-click-modal=false>
        <p>{{ dialogTipText }}</p>
        <el-button @click="dialogTips = false">取消</el-button>
        <el-button type="primary" @click="confirmBtn">确定</el-button>
    </el-dialog>
</div>
    <script type="text/javascript">
        $(function () {
            var home = new Vue({
                el: '#mine',
                data () {
                    var validateTotalNum = (rule, value, callback) => {
                        if (value === '') {
                            this.total_num_error = true;
                            callback(new Error('请输入总股数'));
                        } else if (value > this.total_num) {
                            this.total_num_error = true;
                            callback(new Error('发布总股数必须小于持有股数'));
                        } else {
                            if (this.ruleForm.locking_num !== '') {
                                this.$refs.ruleForm.validateField('locking_num');
                            }
                            this.total_num_error = false;
                            callback();
                        }
                    };
                    var validateLockingNum = (rule, value, callback) => {
                        if (value === '') {
                            this.lock_num_error = true;
                            callback();
                        } else if (value > this.ruleForm.total_num) {
                            this.lock_num_error = true;
                            callback(new Error('锁定股数必须小于发布总股数!'));
                        } else {
                            this.lock_num_error = false;
                            callback();
                        }
                    };
                    var validatePrice = (rule, value, callback) => {
                        if (value === '') {
                            this.price_error = true;
                            return callback(new Error('请输入单价'));
                        } else {
                            if (value < this.reference_price * (1 - this.volatility) 
                            || value > this.reference_price * (1 + this.volatility)) {
                                this.price_error = true;
                                callback(new Error('发布单价必须在参考单价±5%之间!'));
                            }
                            this.price_error = false;
                            callback();
                        }
                    };
                    var validateNote = (rule, value, callback) => {
                        if (value === '') {
                            this.note_error = true;
                            callback();
                        } else {
                            this.note_error = false;
                            callback();
                        }
                    };
                    return {
                        nowYear: new Date().getFullYear(),
                        nowMonth: new Date().getMonth(),
                        activeName: 'published',
                        pagesize: 8,
                        publish_total: 12,
                        transaction_total: 12,
                        value: '',
                        total_num_error: true,
                        lock_num_error: true,
                        price_error: true,
                        note_error: true,
                        pickerOptions: {
                            shortcuts: [{
                                text: '今天',
                                onClick(picker) {
                                    const end = new Date();
                                    const start = new Date();
                                    picker.$emit('pick', [start, end]);
                                }
                            },{
                                text: '最近一周',
                                onClick(picker) {
                                    const end = new Date();
                                    const start = new Date();
                                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                                    picker.$emit('pick', [start, end]);
                                }
                            }, {
                                text: '最近一个月',
                                onClick(picker) {
                                    const end = new Date();
                                    const start = new Date();
                                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                                    picker.$emit('pick', [start, end]);
                                }
                            }, {
                                text: '最近三个月',
                                onClick(picker) {
                                    const end = new Date();
                                    const start = new Date();
                                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                                    picker.$emit('pick', [start, end]);
                                }
                            }],
                            disabledDate (time) {
                                return time.getTime() > Date.now() - 8.64e6;
                            }
                        },
                        dialogVisible: false,
                        dialogTitle: '',
                        total_num: 10000,
                        reference_price: 10,
                        volatility: 0.05,
                        dialogTips: false,
                        dialogTipText: '',
                        published: [{
                            name: '梦古堂',
                            total_num: 10000,
                            locking_num: 5000,
                            tradable_num: 5000,
                            price: 10.77,
                            publish_date: '2017-02-12 16:27:56',
                            note: '线下交易只接受杭州同城交易',
                            tel: '15116925248'
                        }, {
                            name: '梦古堂',
                            total_num: 10000,
                            locking_num: 5000,
                            tradable_num: 5000,
                            price: 10.77,
                            publish_date: '2017-02-12 16:27:56',
                            note: '杭州同城交易',
                            tel: '15116925248'
                        }],
                        transaction: [{
                            name: '中经汇金',
                            buyers: '周雅琼 女士',
                            price: 10.77,
                            trading_num: 1000,
                            finished_date: '2017-02-12 16:27:56',
                            note: '-----'
                        }, {
                            name: '中经汇金',
                            buyers: '周雅琼 女士',
                            price: 10.77,
                            trading_num: 1000,
                            finished_date: '2017-02-12 16:27:56',
                            note: '线下交易只接受杭州内同城交易，确定交易先联系股票持有者'
                        }],
                        orders: [{
                            ordersNum: '35435345634634563',
                            type: '买入',
                            price: 10.99,
                            trading_num: 10000,
                            trading_time: '2017-08-19 15:19:56',
                            note: '-----',
                            status: '完成'
                        }],
                        ruleForm: {
                            name: this.dialogTitle,
                            total_num: '',
                            locking_num: '',
                            price: '',
                            note: ''
                        },
                        rules: {
                            total_num: [
                                { validator: validateTotalNum, trigger: 'blur' }
                            ],
                            locking_num: [
                                { validator: validateLockingNum, trigger: 'blur' }
                            ],
                            price: [
                                { validator: validatePrice, trigger: 'blur' }
                            ],
                            note: [
                                { validator: validateNote, trigger: 'blur' }
                            ]
                        }
                    }
                },
                methods: {
                    handleClick (tab, event) {
                        // console.log(tab.name);
                        if (this.activeName === 'published') {
                            $('.el-tabs__nav .el-tabs__active-bar').css('left', '0px');
                        } else {
                            $('.el-tabs__nav .el-tabs__active-bar').css('left', '-20px');
                        }
                    },
                    dateChangeHandle (val) {
                        if (val) {
                            console.log(val);
                        } else {
                            console.log('读取无日期筛选的数据');
                        }
                    },
                    handleCurrentChange1 (val) {
                        console.log(val);
                    },
                    handleCurrentChange2 (val) {
                        console.log(val);
                    },
                    publishSell (nameStr) {
                        this.dialogTitle = nameStr;
                        this.ruleForm.name = nameStr;
                        this.dialogVisible = true;
                    },
                    modifyPublish (data) {
                        console.log(data);
                        this.dialogTitle = data.name;
                        this.dialogVisible = true;
                    },
                    submitForm (formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                this.dialogVisible = false;
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    confirmBox (str) {
                        if (str === 'undo') {
                            this.dialogTipText = '确定撤销该笔交易？';
                        } else {
                            this.dialogTipText = '确定删除该笔交易记录？';
                        }
                        this.dialogTips = true;
                    },
                    confirmBtn () {
                        console.log('确定撤销');
                        this.dialogTips = false;
                    },
                    computedNum (num) {
                        this.ruleForm.total_num = this.total_num * num;
                    }
                }
            });
        });
    </script>
</body>
</html>