<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>参数配置</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<style>
    #params {
        width: 100%;
        background: white;
    }
    .entryBtn {
        padding: 25px 0 25px 45px;
    }
    .entryBtn .el-button.is-round {
        padding: 5px 17px;
        background: #4993E5;
    }
    .entyrTable {
        width: 100%;
        margin-left: 20px;
    }
</style>
<body>
    <div id='params'>
        <div class="entryBtn">
            <el-button @click="entryType" type="primary" round>录入</el-button>
        </div>
        <div class="entyrTable">
            <div style="width: calc(100% - 40px); padding-bottom: 20px;">
                <el-table :data="paramsData">
                    <el-table-column min-width="120px" prop="name" label="股票名称">
                        </el-table-column>
                    <el-table-column min-width="120px" prop=sell_percent label="买卖数量(%)">
                        <template slot-scope="scope">
                            <span>{{ scope.row.sell_percent * 100 }}%</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop=price_percent label="买卖单价(%)">
                        <template slot-scope="scope">
                            <span>{{ scope.row.price_percent * 100 }}%</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop=price label="参考单价(元)">
                    </el-table-column>
                    <el-table-column label="操作" header-align="center"
                                                align="center">
                        <template slot-scope="scope">
                            <el-button type="text" size="small" @click="getModifyParams(scope.row.id)">修改</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination_box">
                    <el-pagination background layout="prev, pager, next, jumper"
                                    :page-size=pagesize :total=entry_num :current-page=currentPage
                                    @current-change="currentPageChange">
                    </el-pagination>
                </div>
            </div>
        </div>
        <el-dialog width="382px" :title="dialogTitle" :visible.sync="entryDialogVisible"
               :close-on-click-modal=false :before-close="handleClose">
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm">
                <el-form-item prop="name">
                        <div class="icon_img">
                            <img v-if="name_error" src="../images/account_pre.png" alt="">
                            <img v-if="!name_error" src="../images/account_after.png" alt="">
                        </div>
                    <el-input v-model="ruleForm.name"
                            auto-complete="off" placeholder="股票名称" :disabled="dialogTitle==='修改'"></el-input>
                </el-form-item>
                <el-form-item prop="sell_percent">
                        <div class="icon_img">
                            <img v-if="stock_num_error" src="../images/stock_num_pre.png" alt="">
                            <img v-if="!stock_num_error" src="../images/stock_num_after.png" alt="">
                        </div>
                    <el-input v-model.number="ruleForm.sell_percent"
                            auto-complete="off" placeholder="买卖数量(%)"></el-input>
                </el-form-item>
                <el-form-item prop="price_percent">
                        <div class="icon_img">
                            <img v-if="sell_price_error" src="../images/price_pre.png" alt="">
                            <img v-if="!sell_price_error" src="../images/price_after.png" alt="">
                        </div>
                    <el-input v-model.number="ruleForm.price_percent"
                            auto-complete="off" placeholder='买卖单价(%)'></el-input>
                </el-form-item>
                <el-form-item prop="price">
                        <div class="icon_img">
                            <img v-if="price_error" src="../images/price_pre.png" alt="">
                            <img v-if="!price_error" src="../images/price_after.png" alt="">
                        </div>
                    <el-input v-model.number="ruleForm.price"
                            auto-complete="off" placeholder="参考单价(元)"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="resetForm('ruleForm')">取消</el-button>
                    <el-button type="primary" @click="submitForm('ruleForm')">确定</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
    <script>
        $(function () {
            var params = new Vue({
                el: '#params',
                data () {
                    var validateName = (rule, value, callback) => {
                        if (value === '') {
                            this.name_error = true;
                            callback(new Error('请输入股票名称'));
                        } else {
                            this.name_error = false;
                            callback();
                        }
                    };
                    var validateStock = (rule, value, callback) => {
                        // var testReg = /(^[0]\.(0[1-9]|[1-9][0-9]?)$)|(^[1-9][0-9]?\.([0-9]{1,2})$)|(^[1-9][0-9]?$)/;
                        if (value === '') {
                            this.stock_num_error = true;
                            callback(new Error('请输入买卖数量的百分比'));
                        } else if (value <= 0 || value >= 100) {
                            this.stock_num_error = true;
                            return callback(new Error('请输入大于0且小于100的数值!'));
                        } else {
                            this.stock_num_error = false;
                            callback();
                        }
                    };
                    var validatePricePercent = (rule, value, callback) => {
                        if (value === '') {
                            this.sell_price_error = true;
                            callback(new Error('请输入买卖单价百分比'));
                        } else if (value <= 0 || value >= 100) {
                            this.sell_price_error = true;
                            return callback(new Error('请输入大于0且小于100的数值!'));
                        } else {
                            this.sell_price_error = false;
                            callback();
                        }
                    };
                    var validatePrice = (rule, value, callback) => {
                        if (value === '') {
                            this.price_error = true;
                            callback(new Error('请输入参考单价'));
                        } else {
                            this.price_error = false;
                            callback();
                        }
                    };
                    return {
                        pagesize: 8,
                        entry_num: 0,
                        currentPage: 1,
                        dialogTitle: '录入',
                        entryDialogVisible: false,
                        name_error: true,
                        stock_num_error: true,
                        sell_price_error: true,
                        price_error: true,
                        paramsData: [],
                        formData: 'ruleForm',
                        ruleForm: {
                            name: '',
                            sell_percent: '',
                            price_percent: '',
                            price: '',
                            id: ''
                        },
                        rules: {
                            name: [
                             { validator: validateName, trigger: 'blur' }
                            ],
                            sell_percent: [
                                { validator: validateStock, trigger: 'blur' }
                            ],
                            price_percent: [
                                { validator: validatePricePercent, trigger: 'blur' }
                            ],
                            price: [
                                { validator: validatePrice, trigger: 'blur' }
                            ]
                        }
                    }
                },
                methods: {
                    entryType () {
                        this.ruleForm = {
                            name: '',
                            sell_percent: '',
                            price_percent: '',
                            price: '',
                            id: ''
                        };
                        this.dialogTitle = '录入';
                        this.entryDialogVisible = true;
                    },
                    getModifyParams (id) {
                        var that = this;
                        $.ajax({
                            type: 'POST',
                            dataType: 'JSON',
                            async: false,
                            data: {
                                id: id
                            },
                            url: 'http://192.168.1.113:8080/zjdeel/systemprop/selectPropById.do',
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (errorThrown) {
                                    that.$message({
                                        showClose: true,
                                        message: errorThrown,
                                        type: 'warning'
                                    });
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: '数据获取失败，请稍后重试!',
                                        type: 'warning'
                                    });
                                }
                            },
                            success: function (data) {
                                if (data.res === 'success') {
                                    that.ruleForm = {
                                        name: data.data.stockname,
                                        sell_percent: data.data.sellpercent * 100,
                                        price_percent: data.data.pricepercent * 100,
                                        price: data.data.refprice,
                                        id: data.data.id
                                    };
                                    that.dialogTitle = '修改';
                                    that.entryDialogVisible = true;
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: '数据获取失败，请稍后重试',
                                        type: 'warning'
                                    });
                                }
                            }
                        });
                    },
                    currentPageChange (num) {
                        this.currentPage = val;
                        this.getParams();
                    },
                    submitForm (formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                if (this.dialogTitle === '录入') {
                                    this.insertParam(formName);
                                } else {
                                    this.postModify(formName);
                                }
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    getParams() {
                        var that = this;
                        $.ajax({
                            type: 'POST',
                            dataType: 'JSON',
                            async: false,
                            data: {
                                pageNo: that.currentPage,
                                pageSize: that.pagesize
                            },
                            url: 'http://192.168.1.113:8080/zjdeel/systemprop/selectAll.do',
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (errorThrown) {
                                    that.$message({
                                        showClose: true,
                                        message: errorThrown,
                                        type: 'warning'
                                    });
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: '数据获取失败，请稍后重试!',
                                        type: 'warning'
                                    });
                                }
                            },
                            success: function (data) {
                                that.paramsData = [];
                                if (data.total > 0) {
                                    that.entry_num = data.total;
                                    data.list.forEach((val, index, arr) => {
                                        var objData = {
                                            name: val.stockname,
                                            sell_percent: val.sellpercent,
                                            price_percent: val.pricepercent,
                                            price: val.refprice,
                                            id: val.id
                                        };
                                        that.paramsData.push(objData);
                                    });
                                } else {
                                    that.entry_num = data.total;
                                }
                            }
                        });
                    },
                    insertParam(formName) {
                        var that = this;
                        $.ajax({
                            type: 'POST',
                            dataType: 'JSON',
                            async: false,
                            data: {
                                stockname: that.ruleForm.name,
                                sellpercent: that.ruleForm.sell_percent / 100,
                                pricepercent: that.ruleForm.price_percent / 100,
                                refprice: that.ruleForm.price
                            },
                            url: 'http://192.168.1.113:8080/zjdeel/systemprop/insertProp.do',
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (errorThrown) {
                                    that.$message({
                                        showClose: true,
                                        message: errorThrown,
                                        type: 'warning'
                                    });
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: '数据获取失败，请稍后重试!',
                                        type: 'warning'
                                    });
                                }
                            },
                            success: function (data) {
                                if (data.res = 'success') {
                                    that.$message({
                                        showClose: true,
                                        message: data.msg,
                                        type: 'success'
                                    });
                                    that.resetForm(formName);
                                    that.getParams();
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: data.msg,
                                        type: 'warning'
                                    });
                                }
                            }
                        });
                    },
                    postModify(formName) {
                        var that = this;
                        $.ajax({
                            type: 'POST',
                            dataType: 'JSON',
                            async: false,
                            data: {
                                id: that.ruleForm.id,
                                stockname: that.ruleForm.name,
                                sellpercent: that.ruleForm.sell_percent / 100,
                                pricepercent: that.ruleForm.price_percent / 100,
                                refprice: that.ruleForm.price
                            },
                            url: 'http://192.168.1.113:8080/zjdeel/systemprop/updateProp.do',
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (errorThrown) {
                                    that.$message({
                                        showClose: true,
                                        message: errorThrown,
                                        type: 'warning'
                                    });
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: '数据获取失败，请稍后重试!',
                                        type: 'warning'
                                    });
                                }
                            },
                            success: function (data) {
                                if (data.res = 'success') {
                                    that.$message({
                                        showClose: true,
                                        message: data.msg,
                                        type: 'success'
                                    });
                                    that.resetForm(formName);
                                    that.getParams();
                                } else {
                                    that.$message({
                                        showClose: true,
                                        message: data.msg,
                                        type: 'warning'
                                    });
                                }
                            }
                        });
                    },
                    resetForm(formName) {
                        this.$refs[formName].resetFields();
                        this.name_error = true;
                        this.stock_num_error = true;
                        this.sell_price_error = true;
                        this.price_error = true;
                        this.entryDialogVisible = false;
                    },
                    handleClose(done) {
                        this.$refs[this.formData].resetFields();
                        this.name_error = true;
                        this.stock_num_error = true;
                        this.sell_price_error = true;
                        this.price_error = true;
                        done();
                    }
                },
                mounted() {
                    this.getParams();
                }
            })
        })
    </script>
</body>
</html>