<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员登录</title>
    <link rel="stylesheet" href="lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="src/css/styles.css">
    <link rel="stylesheet" href="src/css/index.css">
    <script src="lib/jquery.min.js"></script>
    <script src="lib/vue.js"></script>
    <!--<script src="lib/vue-router.js"></script>-->
    <script src="lib/element-ui/lib/index.js"></script>
    <style>
        .forms {
            width: 290px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="content_box">
            <div class="login_img">
                <img src="src/images/login.png" alt="">
            </div>
            <div class="form_box">
                <p>内部股权交易系统</p>
                <div class="forms">
                    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm">
                        <el-form-item prop="ID">
                            <div class="icon_img">
                                <img v-if="ID_error" src="src/images/ID_pre.png" alt="">
                                <img v-if="!ID_error" src="src/images/ID_after.png" alt="">
                            </div>
                            <el-input v-model="ruleForm.ID"
                                      auto-complete="off" placeholder="请输入身份证号"></el-input>
                        </el-form-item>
                        <el-form-item prop="tel" class="tel_input">
                            <div class="icon_img">
                                <img v-if="tel_error" src="src/images/tel_pre.png" alt="">
                                <img v-if="!tel_error" src="src/images/tel_after.png" alt="">
                            </div>
                            <el-input v-model="ruleForm.tel"
                                      auto-complete="off" :disabled=modifyTel
                                      placeholder="请输入手机号"></el-input>
                            <el-button style="position: absolute; bottom: 6px;
                             right: 10px; padding: 0 8px; line-height: 22px; font-size: 12px;"
                                       v-bind:class="{ active: isActive }" @click="modifyTel=true"
                                       :disabled=btnActive type="text">{{ btnText }}</el-button>
                        </el-form-item>
                        <el-form-item prop="code">
                            <div class="icon_img">
                                <img v-if="code_error" src="src/images/code_pre.png" alt="">
                                <img v-if="!code_error" src="src/images/code_after.png" alt="">
                            </div>
                            <el-input v-model.number="ruleForm.code" placeholder="请输入验证码"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" class="login_btn"
                                       round @click="loginCheck('ruleForm')">登录</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var app = new Vue({
                el: '#app',
                data () {
                    var validateID = (rule, value, callback) => {
                        var IDreg = /^(([1][1-5])|([2][1-3])|([3][1-7])|([4][1-6])|([5][0-4])|([6][1-5])|([7][1])|([8][1-2]))\d{4}(([1][9]\d{2})|([2]\d{3}))(([0][1-9])|([1][0-2]))(([0][1-9])|([1-2][0-9])|([3][0-1]))\d{3}[0-9xX]$/;
                        if (!value) {
                            this.ID_error = true;
                            return callback(new Error('身份证号不能为空'));
                        } else {
                            if (!IDreg.test(value)) {
                                this.ID_error = true;
                                callback(new Error('请输入正确格式的身份证号'));
                            } else {
                                this.ID_error = false;
                                callback();
                            }
                        }
                    };
                    var validateTel = (rule, value, callback) => {
                        var telreg = /^1[3|4|5|7|8][0-9]{9}$/;
                        if (value === '') {
                            this.tel_error = true;
                            callback(new Error('请输入手机号码'));
                        } else {
                            if (!telreg.test(value)) {
                                this.tel_error = true;
                                callback(new Error('请输入正确格式的手机号码'));
                            } else {
                                this.tel_error = false;
                                callback();
                            }
                        }
                    };
                    var validateCode = (rule, value, callback) => {
                        if (value === '') {
                            this.code_error = true;
                            callback(new Error('请输入验证码'));
                        } else if (!Number.isInteger(value)) {
                            this.code_error = true;
                            callback(new Error('请输入数值型验证码!'));
                        } else {
                            if (value.toString().length !== 6) {
                                this.code_error = true;
                                callback(new Error('请输入6位验证'));
                            } else {
                                this.code_error = false;
                                callback();
                            }
                        }
                    };
                    return {
                        btnText: '发送验证码',
                        count: 60,
                        timer: null,
                        modifyTel: false,
                        btnActive: true,
                        ID_error: true,
                        tel_error: true,
                        code_error: true,
                        ruleForm: {
                            ID: '',
                            tel: '',
                            code: ''
                        },
                        rules: {
                            ID: [
                                { validator: validateID, trigger: 'blur' }
                            ],
                            tel: [
                                { validator: validateTel, trigger: 'blur' }
                            ],
                            code: [
                                { validator: validateCode, trigger: 'blur' }
                            ]
                        }
                    }
                },
                computed: {
                    isActive: function () {
                        return /^1[3|4|5|7|8][0-9]{9}$/.test(this.ruleForm.tel);
                    }
                },
                methods: {
                    loginCheck (formName) {
                        window.location.href = `src/html/setting.html`;
                        // this.$refs[formName].validate((valid) => {
                        //     if (valid) {
                        //         window.location.href = `src/html/backend.html`
                        //             + `?role=3&&account=fangyc&&resource=market`;
                        //     } else {
                        //         console.log('error submit!!');
                        //         return false;
                        //     }
                        // });
                    }
                },
                watch: {
                    isActive: function (newVal, oldVal) {
                        this.btnActive = oldVal;
                        // this.tel_error = oldVal;
                    },
                    modifyTel: function (newActive, oldActive) {
                        if (this.modifyTel) {
                            this.btnActive = true;
                            this.btnText = `${this.count}后重发`;
                            var that = this;
                            this.timer = setInterval(function () {
                                if (that.count === 1) {
                                    clearInterval(that.timer);
                                    that.btnText = '发送验证码';
                                    that.count = 60;
                                    that.modifyTel = false;
                                    that.btnActive = false;
                                } else {
                                    that.count--;
                                    that.btnText = `${that.count}后重发`;
                                }
                            }, 1000)
                        }
                    },

                }
            });

            $.ajax({
                type : 'GET',
                dataType : 'JSON',
                url : 'http://127.0.0.1:8080/zjdeel/systemprop/selectAll.do',
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest);
                    console.log(textStatus);
                    console.log(errorThrown);
                    console.log(`it's error`);
                },
                success : function(data) {
                    console.log(data);
                }
            });
        });
    </script>
</body>
</html>